<section class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 shadow-lg hero-section">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 text-center text-lg-start">
     <h1 class="display-4 fw-bold lh-1">Lihue Leiva</h1>
      <p class="lead fw-bold subtitle">Desarrollador Web Angular</p>
      <p class="lead">
        Apasionado por transformar ideas en soluciones de software robustas y eficientes. Convierto problemas complejos en interfaces de usuario intuitivas, potenciando mi productividad con herramientas de IA.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-center justify-content-md-start mb-4 mb-lg-3">
        <a routerLink="/proyectos" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Mis Proyectos</a>
        <a routerLink="/contacto" class="btn btn-outline-secondary btn-lg px-4">Contacto</a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
      <img class="profile-image" src="assets/image/400x400lihue.png" alt="Foto de perfil de Lihue Leiva" width="400">
    </div>
  </div>
</section>
